*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
.container {
  display: flex;
}

body {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  /* background-color: yellow; */
  border: 1px solid black;
}

.container {
  background-color: #f4f4f4;
  flex-wrap: wrap;
}
